/* Définir les polices personnalisées */
@font-face {
    font-family: 'INGAME';
    src: url('pol/INGAME.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PlayfairDisplaySC-Black';
    src: url('pol/PlayfairDisplaySC-Black.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Robot-Rebels';
    src: url('pol/Robot-Rebels.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('pol/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Boul';
    src: url('pol/Boul.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PlayfairDisplaySC-Bold';
    src: url('pol/PlayfairDisplaySC-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sobatyan-Regular';
    src: url('pol/Sobatyan-Regular.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('pol/Roboto-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MilestoneBrush';
    src: url('pol/MilestoneBrush.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Rostack';
    src: url('pol/Rostack.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('pol/Roboto-Black.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Matemasie-Regular';
    src: url('pol/Matemasie-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NewAmsterdam-Regular';
    src: url('pol/NewAmsterdam-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NerkoOne-Regular';
    src: url('pol/NerkoOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('pol/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DMSerifText-Regular';
    src: url('pol/DMSerifText-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*Style de base du corps*/
body{
    background-color: #f4f4f4; /* Couleur de fond */
    background: url('images/p02.jpg') no-repeat center center; /* Image de fond */
    background-size: cover; /* L'image couvre entièrement */
}
/* Styles pour le bouton du menu hamburger */
.menu-icon {
    font-size: 30px; /* Taille de l'icône du menu hamburger */
    cursor: pointer; /* Change le curseur pour indiquer que c'est cliquable */
    padding: 10px; /* Espacement interne pour l'icône */
    position: fixed; /* Position fixe par rapport à la fenêtre */
    top: 10px; /* Positionnement à 10px du haut */
    left: 10px; /* Positionnement à 10px de la gauche */
    z-index: 2; /* Assure que le bouton reste au-dessus des autres éléments */
    color: #fff; /* Couleur du texte/bloc (blanc) */
    background-color: #1abc9c; /* Couleur d'arrière-plan du bouton */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre subtile sous le bouton */
    transition: background-color 0.3s ease; /* Transition douce lors du changement de couleur */
}

/* Changement de couleur lors du survol de l'icône */
.menu-icon:hover {
    background-color: #16a085; /* Couleur d'arrière-plan au survol */
}

/* Styles pour la barre latérale */
.sidebar {
    height: 100%; /* Prend toute la hauteur de la fenêtre */
    width: 0; /* Largeur initiale de 0 (cachée) */
    position: fixed; /* Position fixe par rapport à la fenêtre */
    top: 0;
    left: 0;
    background-color: #34495e; /* Couleur de fond de la barre latérale */
    overflow-x: hidden; /* Cache le débordement horizontal */
    transition: 0.5s; /* Transition pour l'ouverture/fermeture */
    padding-top: 60px; /* Espacement en haut de la barre */
    z-index: 1; /* Assure que la barre reste au-dessus du contenu */
}

/* La classe "active" élargit la barre latérale */
.sidebar.active {
    width: 250px; /* Largeur de la barre lorsqu'elle est active */
}

/* Styles pour la liste des éléments dans la barre latérale */
.sidebar ul {
    list-style-type: none; /* Supprime les puces des éléments de liste */
    padding: 0;
    margin: 0;
}

/* Styles pour chaque élément de la liste dans la barre */
.sidebar ul li {
    padding: 15px 20px; /* Espacement autour de chaque élément */
    text-align: left; /* Alignement à gauche du texte */
    font-size: 18px; /* Taille du texte des éléments */
}

/* Styles pour les liens dans la barre latérale */
.sidebar ul li a {
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime le soulignement */
    display: block; /* Le lien prend toute la largeur de l'élément */
    transition: 0.3s; /* Transition douce lors du survol */
    font-family: 'Roboto-Regular','MilestoneBrush', Arial, sans-serif; /* Police utilisée */
}

/* Changement de fond et de décalage lors du survol des liens */
.sidebar ul li a:hover {
    background-color: #1abc9c; /* Couleur d'arrière-plan au survol */
    padding-left: 25px; /* Décalage du texte vers la droite au survol */
}

/* Styles pour le contenu principal */
.content {
    transition: margin-left 0.5s; /* Transition douce pour le décalage lors de l'ouverture de la barre latérale */
    padding: 20px; /* Espacement autour du contenu */
    font-family: 'Roboto-Regular', Arial, sans-serif; /* Police utilisée */
}
.loi {
    font-family: 'Roboto-Regular',Arial, sans-serif; /* Police de caractères par défaut */
    font-size: 20px;
    color: red;
}
/* Styles pour les sections de contenu */
.section {
    background: #fff; /*Couleur de fond blanc*/
    padding: 20px; /* Espacement interne */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour la profondeur */
    margin-bottom: 20px; /* Espace entre les sections */
}
header{
    font-family: 'Sobatyan-Regular','MilestoneBrush', Arial, sans-serif; /* Police utilisée */
    font-size: 40px; /* Taille du texte */
    text-align: center; /* Centrer le texte */
    color: #34a853; /* Couleur verte pour les sous-titres */
}
/* Styles pour les titres principaux (h1) */
h1 {
     font-family: 'MilestoneBrush', Arial, sans-serif; /* Police utilisée */
     font-size: 40px; /* Taille du texte */
    text-align: center; /* Centrer le texte */
    color: #333; /* Couleur sombre pour le texte */
}

/* Style pour les titres de section (h2) */
h2 {
    font-size: 32px; /* Taille du texte */
    color: #1a73e8; /* Couleur bleue pour un look professionnel */
    text-align: center; /* Centrer le texte */
    margin-bottom: 20px; /* Espace en dessous du titre */
    font-family: 'Sobatyan-Regular','Arial', sans-serif;
    text-transform: uppercase; /* Tout en majuscules */
    letter-spacing: 2px; /* Espacement entre les lettres */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ajoute une ombre au texte pour un effet stylisé */
}

/* Styles pour les sous-titres (h3) */
h3, h4 {
    font-family: 'Sobatyan-Regular','Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase; /* Tout en majuscules */
    padding-left: 10px; /* Décalage du texte vers la droite */
    
}
h3{
    text-align: left; /* Aligné à gauche */
    border-left: 5px solid #34a853; /* Bordure verte sur le côté gauche pour accentuer le titre */
    font-size: 24px; /* Taille du texte */
    margin-bottom: 15px; /* Espace en dessous du sous-titre */
    color: #34a853; /* Couleur verte pour les sous-titres */
}

h4{
    text-decoration: underline; /*Souligner le texte*/
     text-decoration-thickness: 2px; /* Définit l'épaisseur du soulignement à 2 pixels */
    text-align: center; /*Centrer le texte*/
    margin-left: 8px; /*Espace a gauche du texte*/
    font-size: 18px; /* Taille du texte */
    margin-bottom: 13px; /* Espace en dessous du sous-titre */
    color: rgb(57,100,64); /* Couleur verte foncee pour les sous-titres */
}
h5, h6{
     margin-left: 12px; /*Espace a gauche du texte*/
    font-family:'PlayfairDisplaySC-Black','Sobatyan-Regular','Arial', sans-serif;;
    border-bottom:1px solid rgb(57,100,64); /*Bordure verte foncee en bas*/
    margin-bottom:10px; /*Espace en dessous du sous titre*/
    color: #34a853; /* Couleur verte pour les sous-titres */
}
h5{
    font-size:15px; /*Taille du texte*/
}
h6{
    font-size:13px;/*Taille du texte*/
}

/* Styles pour les paragraphes dans les sections */
.section p {
    line-height: 1.6; /* Hauteur de ligne pour un texte plus aéré */
    color: #666; /* Couleur du texte des paragraphes */
}

/* Styles pour les liens vers les fichiers PDF */
.pdf-link {
    color: #1abc9c; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime le soulignement */
    font-weight: bold; /* Texte en gras */
}

.pdf-link:hover {
    color: #16a085; /* Changement de couleur au survol */
}

/* Styles pour les icônes sociales */
.social-icons {
    display: flex; /* Affiche les icônes en ligne */
    justify-content: center; /* Centre les icônes */
    margin-top: 20px; /* Espace au-dessus des icônes */
}

.social-icon {
    margin: 0 10px; /* Espace horizontal entre les icônes */
    color: #fff; /* Couleur blanche des icônes */
    font-size: 25px; /* Taille des icônes */
    transition: color 0.3s ease; /* Transition douce pour le changement de couleur */
}

/* Changement de couleur des icônes au survol */
.social-icon:hover {
    color: #1abc9c; /* Change la couleur des icônes au survol */
}

/* Conteneur pour organiser les cartes produit */
.product-container {
    justify-content: space-around; /* Espace égal autour des cartes */
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si nécessaire */
}
.card {
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si nécessaire */
    display: flex; /* Affiche les cartes en ligne */
    background: rgb(195,195,195); /* Fond blanc pour les cartes */
    border-radius: 8px; /* Arrondit les coins des cartes */
    padding: 5px; /* Ajoute un padding interne */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une ombre subtile */
    text-align: left; /* Aligne le texte à gauche */
}
/* Styles pour les cartes produit */
.product-card {
    background-color: #fff; /* Fond blanc pour les cartes */
    border: 1px solid #ddd; /* Bordure légère autour des cartes */
    border-radius: 10px; /* Coins arrondis */
    width: 220px; /* Largeur fixe des cartes */
    height: 200px; /* Hauteur fixe des cartes */
    margin: 2px; /* Espace autour de chaque carte */
    padding: 5px; /* Espacement interne */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1); /* Ombre légère sous les cartes */
    text-align: center; /* Centre le contenu */
    transition: transform 0.3s ease; /* Transition pour l'animation au survol */
    display: flex;
    flex-direction: column; /* Organise les éléments en colonne */
    justify-content: space-between; /* Espacement égal entre les éléments de la carte */
    
}
/* Style des cartes */
.product-card:hover {
    transform: scale(1.05); /* Agrandit légèrement la carte au survol */
    transition: transform 0.3s ease; /*Crée une transition douce lorsque la largeur de la carte change au survol.*/
}

.product-container h4{

    font-family: 'Robot-Rebels','Roboto-Bold','Roboto-Regular', Arial, sans-serif; /* Police utilisée */;
    margin: 10px;/*Bordure exterieure*/
    font-size: 18px;
}
/* Styles pour les images dans les cartes produit */
.product-image {
    width: 50px; /* Taille fixe des images */
    height: auto; /* Conserve les proportions des images */
    margin: 0 auto 10px auto; /* Centre les images horizontalement */
}

/* Styles pour les liens PDF dans les cartes produit */
.pdf-link {
    display: inline-block; /* Assure que le lien ait un comportement de bouton */
    padding: 10px 20px; /* Ajoute du remplissage pour donner l'apparence d'un bouton */
    font-size: 14px; /* Taille du texte pour les boutons PDF */
    color: white; /* Couleur du texte en blanc */
    text-decoration: none; /* Supprime le soulignement du lien */
    border-radius: 5px; /* Arrondit les coins du bouton */
    border: none; /* Supprime les bordures */
    cursor: pointer; /* Change le curseur pour indiquer un élément cliquable */
    word-wrap: break-word; /* Gère les longs textes */
    word-break: break-word; /* Coupe les mots si nécessaire */
}

.pdf-link{
    background-color: #4CAF50; /* Couleur de fond du bouton (vert par exemple) */
}

.pdf-link:hover {
    background-color: #45a049; /* Change la couleur du bouton au survol */
}

.btn1, .btn2, .btn3, .btn4 {
    width: 50%; /* Largeur fixe des cartes */
    height: 20%; /*Hauteur de carte fixe a 60%*/
    display: inline-block; /* Assure que le lien ait un comportement de bouton */
    padding: 10px 20px; /* Ajoute du remplissage pour donner l'apparence d'un bouton */
    font-size: 14px; /* Taille du texte pour les boutons PDF */
    color: white; /* Couleur du texte en blanc */
    text-decoration: none; /* Supprime le soulignement du lien */
    border-radius: 5px; /* Arrondit les coins du bouton */
    border: none; /* Supprime les bordures */
    cursor: pointer; /* Change le curseur pour indiquer un élément cliquable */
    word-wrap: break-word; /* Gère les longs textes */
    word-break: break-word; /* Coupe les mots si nécessaire */
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn1 {
    background-color: rgb(40,108,164); /* Couleur de fond du bouton (vert par exemple) */
}
.btn1:hover {
    height: auto; /*Tous les elements du bouton sont visibles au survol*/
    background-color: rgb(16,44,67); /* Change la couleur du bouton au survol */
}
.btn2 {
    background-color: rgb(189,196,64); /* Couleur de fond du bouton (vert par exemple) */
}
.btn2:hover {
    height: auto; /*Tous les elements du bouton sont visibles au survol*/
    background-color: rgb(68,70,21); /* Change la couleur du bouton au survol */
}
.btn3 {
    background-color: rgb(221,11,48); /* Couleur de fond du bouton (vert par exemple) */
}
.btn3:hover {
    height: auto; /*Tous les elements du bouton sont visibles au survol*/
    background-color: rgb(134,6,29); /* Change la couleur du bouton au survol */
}
.btn4 {
    background-color: rgb(153,217,234); /* Couleur de fond du bouton (vert par exemple) */
}
.btn4:hover {
    height: auto; /*Tous les elements du bouton sont visibles au survol*/
    background-color: rgb(29,119,141); /* Change la couleur du bouton au survol */
}

/* Animation (à personnaliser en fonction de votre contenu) */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Styles pour le pied de page */
footer {
    background: url('images/p2.jpg') no-repeat center center; /* Image de fond du pied de page */
    background-size: cover; /* L'image couvre entièrement la zone du pied de page */
    color: white; /* Couleur du texte dans le pied de page */
    padding: 10px 0; /* Espacement vertical dans le pied de page */
    text-align: center; /* Centre le texte */
}

@media all and (max-width: 1024px) {
    /* Cartes visibles trois par trois */
    .product-card {
        width: 30%; /* Chaque carte prend environ 30% de la largeur */
        margin: 1px; /* Espace autour de chaque carte */
        margin: 20px 0; /* Espacement ajusté entre les cartes */
    }
    .btn1, .btn2, .btn3, .btn4 {
    width: 50%; /* Largeur fixe des cartes */
    height: 20%; /*Hauteur de carte fixe a 60%*/
                                }
    .btn1:hover {
         width: 50%; /* Largeur fixe des cartes */
    height: auto; /*Tous les elements du bouton sont visibles au survol*/
                                 }
                                 .btn2:hover {
                                    width: 50%; /* Largeur fixe des cartes */
    height: auto; /*Tous les elements du bouton sont visibles au survol*/
                                 }
                                 .btn3:hover {
                                    width: 50%; /* Largeur fixe des cartes */
    height: auto; /*Tous les elements du bouton sont visibles au survol*/
                                 }
                                 .btn4:hover {
                                    width: 50%; /* Largeur fixe des cartes */
    height: auto; /*Tous les elements du bouton sont visibles au survol*/
                                 }
    .card{
        flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si nécessaire */
    display: flex; /* Affiche les cartes en ligne */
    justify-content: space-between/*espace les éléments enfants de manière égale à l'intérieur du conteneur.*/
    }
    .product-container {
        flex-wrap: wrap; /* Les cartes s'enroulent si nécessaire */
        justify-content: space-between; /* Espace égal entre les cartes */
    }

    /* Taille des titres et des textes pour les tablettes */
    h1, h2, h3, h4, h5, h6 {
        font-size: 24px; /* Taille ajustée pour les tablettes */
    }

    /* Taille des images dans les cartes */
    .product-image {
        width: 70px; /* Taille encore plus grande pour les images */
        height: auto; /* Conserver les proportions */
    }

    /* Ajustement des marges et espacement */
    .content {
        padding: 0px; /* Réduire l'espacement interne pour s'adapter aux petits écrans */
    }
    .section{
        padding: 1px; /* Réduire l'espacement interne pour s'adapter aux petits écrans */
    }

    /* Styles pour les éléments de la barre latérale */
    .sidebar ul li {
        font-size: 18px; /* Texte plus grand pour les tablettes */
    }

    /* Taille de l'icône du menu hamburger pour les tablettes */
    .menu-icon {
        font-size: 30px; /* Taille ajustée de l'icône */
        padding: 10px; /* Espacement ajusté */
    }

}
